{% extends 'ecommerce_main/e-base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block e-title %}Redefinir senha{% endblock %}

{% block e-outers %}{% endblock %}

{% block e-css %}{% static 'ecommerce_authentication/static/css/password_reset_complete.css' %}{% endblock %}

{% block e-container %}

<section class="forget">
    <h2>Senhas alterados com sucesso!</h2>
    <p>Foi alterado sua senha, volte á página de login para continuar o seu acesso.</p>
    <a href="{% url 'login_view' %}"><button type="button" class="submit">Login</button></a>
</section>

{% endblock %}