{% extends 'ecommerce_main/e-base.html' %}
{% load static %}

{% block e-title %}Cadastro{% endblock %}

{% block e-outers %}{% endblock %}

{% block e-css %}{% static 'ecommerce_authentication/static/css/e-cadastro.css' %}{% endblock %}

{% block e-container %}

<section class="area-cadastro">
    <div class="top">
        <h3>Cadastre-se e tenha acesso aos nossos milhares de produtos.</h3>
    </div>
    <div class="bottom">
        <p>Cadastre-se</p>

    {% for message in messages %}
        <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        </div>
    {% endfor %}

        <form action="{% url 'cadastro_user' %}" method="post">{% csrf_token %}
            <div class="input flex">
                <div class="input">
                    <label for="nome">Nome</label><p class="obrigatorio">*</p><br>
                    <input type="text" id="nome" name="first_name" placeholder="Digite seu nome">
                </div>
                <div class="input">
                    <label for="sobrenome">Sobrenome</label><p class="obrigatorio">*</p><br>
                    <input type="text" id="sobrenome" name="last_name" placeholder="Digite seu sobrenome">
                </div>
            </div>
            <div class="input">
                <label for="endereco">Endereço</label><p class="obrigatorio">*</p><br>
                <input type="text" id="endereco" name="endereco" placeholder="Digite seu endereço">
            </div>
            <div class="input flex">
                <div class="input">
                    <label for="cep">CEP</label><p class="obrigatorio">*</p><br>
                    <input type="text" id="cep" name="cep" placeholder="Digite seu cep" maxlength="9">
                </div>
                <div class="input">
                    <label for="numero">Número</label><p class="obrigatorio">*</p><br>
                    <input type="text" id="numero" name="numero" placeholder="Digite seu numero">
                </div>
            </div>
            <div class="input flex">
                <div class="input">
                    <label for="nasc">Data de Nascimento</label><p class="obrigatorio">*</p><br>
                    <input type="date" id="nasc" name="nasc" placeholder="Digite sua data de nascimento">
                </div>
                <div class="input">
                    <label for="sexo">Sexo</label><p class="obrigatorio">*</p><br>
                    <select name="sexo" id="sexo" name="sexo">
                        <option value="" selected>Sexo</option>
                        <option value="fem">Feminino</option>
                        <option value="masc">Masculino</option>
                        <option value="unknow">Prefiro não dizer</option>
                    </select>
                </div>
            </div>
            <div class="input flex">
                <div class="input">
                    <label for="telefone">Telefone</label><p class="obrigatorio">*</p><br>
                    <input type="text" id="telefone" name="telefone" placeholder="Digite seu telefone" maxlength="15">
                </div>
                <div class="input">
                    <label for="documento">Documento</label><p class="obrigatorio">*</p><br>
                    <select name="documento" id="documento" name="documento" >
                        <option value="" selected>Selecione o documento</option>
                        <option value="cpf">CPF</option>
                        <option value="rg">RG</option>
                        <option value="cnpj">CNPJ</option>
                    </select>
                </div>
                <div class="input">
                    <label for="numero_documento">Número do Documento</label><p class="obrigatorio">*</p><br>
                    <input type="text" id="numero_documento" name="numero_documento" placeholder="Digite o número do documento" maxlength="14">
                </div>
            </div>
            <div class="input">
                <label for="email">E-mail</label><p class="obrigatorio">*</p><br>
                <input type="email" id="email" name="email" placeholder="Digite seu E-mail">
            </div>
            <div class="input flex">
                <div class="input">
                    <label for="senha">Senha</label><p class="obrigatorio">*</p><br>
                    <input type="password" id="senha" name="password" placeholder="Digite a senha">
                </div>
                <div class="input">
                    <label for="conf_senha">Confirmar senha</label><p class="obrigatorio">*</p><br>
                    <input type="password" id="conf_senha" name="conf_password" placeholder="Digite novamente a senha">
                </div>
            </div>
            <input type="hidden" name="is_user" value="false">

            <input type="submit" class="submit" value="Cadastrar">

        </form>        
    </div>
</section>
{% endblock %}

{% block e-scripts %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
    $(document).ready(function(){
        $('#cep').mask('00000-000');
        $('#telefone').mask('(00) 00000-0000');
        // Função para aplicar a máscara com base no tipo selecionado
        function aplicarMascara(tipo) {
            if (tipo === 'cpf') {
                $('#numero_documento').mask('000.000.000-00');
            } else if (tipo === 'cnpj') {
                $('#numero_documento').mask('00.000.000/0000-00');
            } else {
                // Lógica para outros tipos de documentos, se necessário
            }
        }

        // Evento de mudança no select
        $('#documento').change(function(){
            // Obtém o valor selecionado
            var tipoSelecionado = $(this).val();

            // Chama a função para aplicar a máscara
            aplicarMascara(tipoSelecionado);
        });
    });
</script>

    <script src="{% static 'ecommerce_authentication/static/js/e-cadastro.js' %}" type="module"></script>
{% endblock %}