{% extends 'ecommerce_main/e-base.html' %}
{% load static %}

{% block e-title %}Carrinho{% endblock %}

{% block e-outers %}{% endblock %}

{% block e-css %}{% static 'ecommerce_authentication/static/css/e-dados_ausentes.css' %}{% endblock %}

{% block e-container %}



<section>
    <h2 class="title-h2">Campos Ausentes</h3>
    <h4 class="title-h4">Identificamos que possui alguns campos em branco, insira abaixo para poder continuar!</h5>
    <p class="sub-title">Esses dados serão pedidos somente uma única vez.</p>
    {% if campos_ausentes %}<p class="sub-title"> Campos em falta: {% for ausente in campos_ausentes %} {{ausente|capfirst}} {% endfor %}</p>{% endif %}
    <form id="form-checkout">{% csrf_token %}
        <section class="section-dados">
            <h5 class="title-form">Dados pessoais</h5>

            <div class="flexbox">
                <div class="inputBox">
                    <label for="form-checkout__payerFirstName">Nome</label>
                    <input type="text" id="form-checkout__payerFirstName" name="payerFirstName" class="input required" placeholder="Insira seu nome" value="{{ user.first_name|default:'' }}">
                </div>
                <div class="inputBox">
                  <label for="form-checkout__payerLastName">Sobrenome</label>
                  <input type="text" id="form-checkout__payerLastName" name="payerLastName" class="input required" placeholder="Insira o sobrenome" value="{{user.last_name|default:'' }}">
                </div>
            </div>
            <div class="inputBox">
                <label for="form-birthday">Data de Nascimento</label><br>
                <input type="date" name="birthday" id="form-birthday" class="input required" placeholder="insira sua Data de Nascimento" value="{{ user.date_birthday|date:'Y-m-d'|default_if_none:'' }}" style="max-width: 300px;">
              </div>
            <div class="inputBox">
              <label for="form-checkout__email">E-mail</label>
              <input type="email" name="email" id="form-checkout__email" class="input required" placeholder="insira o email" value="{{user.email|default:'' }}">
            </div>
            <div class="flexbox">
                <div class="inputBox">
                    <label for="type_document">Tipo de documento</label>
                    <select type="number" name="type_document" id="type_document" class="input required" placeholder="Tipo de documento">
                      {% if user.type_document %}
                        <option value="{{user.type_document}}" selected>{{user.type_document|upper}}</option>
                      {% else %}
                        <option value="" selected>Selecione</option>
                        <option value="cpf">CPF</option>
                        <option value="cnpj">CNPJ</option>
                      {% endif %}
                    </select>
                </div>
                <div class="inputBox">
                  <label for="cpf_cnpj">Número do documento</label>
                  <input type="text" disabled name="cpf_cnpj" id="cpf_cnpj" class="input required" placeholder="Número do documento" value="{{ user.cpf_cnpj|default:'' }}"
                  {% if user.type_document == 'cpf' %}
                  data-mask="000.000.000-00"
                  {% elif user.type_document == 'cnpj' %}
                  data-mask="00.000.000/0000-00"
                  {% endif %}
                  
                  data-mask-reverse="true"                  
                  >
                </div>
            </div>
            <div class="flexbox">
                <div class="inputBox">
                    <label for="codearea">Código de área</label>
                    <input type="number" name="codearea" id="codearea" class="input required" placeholder="Código de área" value="{{user.code_area|default:'55'}}">
                </div>
                <div class="inputBox">
                  <label for="phone">Telefone</label>
                  <input type="tel" name="phone" id="phone" class="input required" placeholder="Telefone" value="{{user.phone|default:''}}" data-mask="(00) 00000-0000" data-mask-reverse="true">
                </div>
            </div>
        </section>
        <section class="section-dados">
            <h5 class="title-form">Endereço</h5>

            <div class="flexbox">
              <div class="inputBox">
                <label for="form-cep">CEP</label>
                <input type="text" id="form-cep" name="cep" class="input required" placeholder="Insira o CEP" value="{{user.cep|default:''}}" data-mask="00000-000" data-mask-reverse="true">
              </div>
              <div class="inputBox">
                <label for="form-bairro">Bairro</label>
                <input type="text" id="form-bairro" name="form-bairro" class="input required" placeholder="Insira o Bairro" value="{{user.bairro|default:'' }}">
              </div>
            </div>
            <div class="inputBox">
                <label for="form-endereco">Endereço</label>
                <input type="text" id="form-endereco" name="endereco" class="input required" placeholder="Insira seu endereço" value="{{user.endereco|default:''}}">
            </div>
            <div class="flexbox">
                <div class="inputBox">
                  <label for="number">Número</label>
                  <input type="text" name="number" id="number" class="input required" placeholder="Número" value="{{user.number|default:''}}">
                </div>
                <div class="inputBox">
                    <label for="complemento">Complemento</label>
                    <input type="text" name="complemento" id="complemento" class="input" placeholder="Complemento" value="{{user.complemento|default:''}}">
                </div>
            </div>
            
      <input type="submit" value="Próximo" id="form-checkout__submit" class="submit-btn">
    </form>
    <!-- Elemento de sobreposição de carregamento -->
    <div class="overlay" id="loadingOverlay" style="display: none;">
      <div class="loading-message">Carregando...</div>
    </div>
</section>

{% endblock %}

{% block e-scripts %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/edge/javascripts/locastyle.js"></script>
    <script src="{% static 'ecommerce_authentication/static/js/e-dados_ausentes.js' %}" type="module"></script>
{% endblock %}