{% extends 'app_whats/base.html' %}
{% load static %}

{% block css %}{% static 'app_whats/static/css/teste_chat.css' %}{% endblock %}

{% block title %}Teste Chat{% endblock %}

{% block outers %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<style>
    .tela {
        width: 100%;
        border-radius: 25px;
        padding: 3rem;
        background-color: aliceblue;
    }

    h1 {
        color: black;
    }

    #messages {
        color: black;
        border: 3px solid black;
    }
</style>

{% endblock %}

{% block body %}

    <div class="tela">
        <h1>Lets chat!</h1>

        <form id="form">
            <input type="text" name="message"/>
        </form>
        <br>
        <div id="messages"></div>
    </div>

    <script>
        let url = `ws://${window.location.host}/ws/socket-server/`
    
    const chatSocket = new WebSocket(url)
    
    chatSocket.onopen = function(e) {
        console.log('Conexão WebSocket estabelecida.');
      };
    
    chatSocket.onmessage = function(e) {
        let data = JSON.parse(e.data)
        console.log('Data:', data.message)
    
        if (data.type === 'chat') {
            let messages = document.getElementById('messages')
    
            messages.insertAdjacentHTML('beforeend', `<div>
                <p>${data.message}</p>
            </div>`)
        }
    }
    
    let form = document.getElementById('form')
    form.addEventListener('submit', (e) => {
        e.preventDefault()
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
            'message': message
        }))
        form.reset()
    });
    
    chatSocket.onclose = function(e) {
        console.error('Conexão WebSocket fechada inesperadamente.')
    }
    
    </script>

{% endblock %}