{% extends 'ecommerce_main/e-dados_pessoais.html' %}
{% load static %}

{% block e-senhas %}
<form action="{% url 'change_password' %}" method="post">{% csrf_token %}
    <div class="infos">
        <h3>Alteração de senha</h3>
        <div class="envelopado">
            <div class="half">
                <div class="metade">
                    {{form_senha.new_password1.errors}}
                    <label for="password">Nova Senha:</label><br>
                    {{form_senha.new_password1}}
                </div>
                <div class="metade">
                    {{form_senha.new_password2.errors}}
                    <label for="conf_password">Confirmação da Nova Senha:</label><br>
                    {{form_senha.new_password2}}
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="submit" value="Salvar">
</form>
{% endblock %}