.content .filters {
    display: none;
}

.forget {
    background-color: var(--color-1);
    color: #DDD;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    margin: 15px;
    gap: 10px;
}

.forget h2{
    margin-bottom: 30px;
}

.forget form p label{
    display: block;
}

.forget form p input {
    width: 70%;
    border-radius: 25px;
    border: none;
    padding: 10px 15px;
}

.forget form ul{
    margin: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    color: #dddddd90;
} 

.forget form .errorlist{
    width: 50%;
    margin: 0 auto 40px auto;
    padding: 15px;
    align-items: center;
    border-radius: 15px;
    list-style-type: none;
    font-weight: 700;
    background-color: var(--bs-danger-bg-subtle);
    color: var(--bs-danger-text-emphasis);
    border-color: var(--bs-danger-border-subtle);
}