.content .filters {
    display: none;
}

.forget {
    background-color: var(--color-1);
    color: #DDD;
    display: flex;
    border-radius: 25px;
    box-shadow: 5px 5px 9px 5px grey;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forget h2 {
    margin-top: 15px;
}

.forget form{
    width: 50%;
    padding: 15px;
    display: flex;
    justify-items: center;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.forget form .input {
    width: 100%;
    border-radius: 25px;
    border: none;
    padding: 10px 15px;
}

.forget form label {
    color: #DDD;
    font-weight: 700;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 25px;
    border: none;
    padding: 10px 15px;
}

.forget form .submit {
    border: none;
    border-radius: 25px;
    background-color: var(--color-5);
    color: #DDD;
    padding: 10px 15px;
    width: 30%;
    transition: opacity 1s ease;
}

.forget form .submit:hover {
    opacity: .6;
}

.container-fluid{
    width: 50%;
}

footer {
    position: fixed;
    bottom: 0;
}