section .navbar {
    display: none !important;
}

.content {
    margin: 0;
}

.content .filters {
  display: none;
}

.area-login {
    background-color: var(--color-1);
    display: flex;
    border-radius: 25px;
    box-shadow: 5px 5px 9px 5px grey;
}

.container h3,
.container h5 {
  text-align: center;
}

.container .icon-home {
    display: flex;
    margin: 30px;
    padding: 10px;
    border-radius: 20px;
    background: var(--color-1);
    color: #DDD;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .icon-home i {
    font-size: 35px;
}


.area-login .left {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.area-login .left img {
    width: 70%;
}

.area-login .rigth {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
}

.area-login .rigth form {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  gap: 15px;
}

.area-login .rigth a, .area-login .rigth p {
    color: #DDD;
}

.area-login .rigth a:hover {
    color: var(--color-4);
}

.area-login form .input {width: 60%;}

.area-login form .input label {
    color: #DDD;
    font-weight: 700;
    margin-bottom: 5px;
}

.area-login form .input input {
    width: 100%;
    border-radius: 25px;
    border: none;
    padding: 10px 15px;
}

.area-login form .submit {
    border: none;
    border-radius: 25px;
    background-color: var(--color-5);
    color: #DDD;
    padding: 10px 15px;
    width: 30%;
    transition: opacity 1s ease;
}

.area-login form .submit:hover {
    opacity: .6;
}

@media screen and (max-width: 578px) {
    section .navbar {
        display:block !important;
     }

    section .navbar .navbar_toggle { 
        position: absolute;      
        top: 0;    
        right: 0;
    }

    .container a .icon-home {
        display: none;
    }

    .area-login {
        overflow: hidden;
        flex-direction: column-reverse;
    }

    .area-login .left{
        display: none;
    }

    .area-login .rigth p {
        padding: 10px;
    }

    .area-login form .input {
        width: 100%;
    }
}

@media screen and (max-width: 478px) {
    .content .container {
        width: 100%;
        padding: 15px;
    }
}

@media screen and (max-width: 281px) {
    main{
        overflow-y: auto;
    }
}