.container {
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 0 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    border-bottom: none;
    padding: 15px;
}

#myTable_wrapper{
    width: 100%;
    color: var(--text-title);
}

.container #myTable_wrapper th {
    color: var(--text-title);
}

.container #myTable_wrapper td{
    color: var(--text-color);
}
