@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");

:root{
  /* ===== Colors ===== */
  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #B30000;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

.main {
  width: 100%;
  height: 80vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.left {

width: 100%;
}

.rigth {
  width: 20%;
  margin: auto;
}

.pic {
  width: 4rem;
  height: 4rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.contact {
  margin-bottom: 1rem;
  padding-left: 5rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .pic {
  position: absolute;
  left: 0;
}
.contact .name {
  font-weight: 500;
  margin-bottom: 0.125rem;
  color: var(--text-color);
}
.contact .message, .contact .seen {
  font-size: 0.9rem;
  color: #999;
}
.contact .badge {
  box-sizing: border-box;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 0.125rem;
  border-radius: 1rem;
  top: 0;
  left: 2.5rem;
  background: #333;
  color: white;
}

.contacts {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-6rem, -50%);
  width: 24rem;
  height: 32rem;
  padding: 1rem 2rem 1rem 1rem;
  box-sizing: border-box;
  border-radius: 1rem 0 0 1rem;
  cursor: pointer;
  background: var(--sidebar-color);
  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
  transition: transform 500ms;
}
.contacts h2 {
  margin: 0.5rem 0 1.5rem 5rem;
}
.contacts .fa-bars {
  position: absolute;
  left: 2.25rem;
  color: #999;
  transition: color 200ms;
}
.contacts .fa-bars:hover {
  color: #666;
}
.contacts .contact:last-child {
  margin: 0;
}
.contacts:hover {
  transform: translate(-23rem, -50%);
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 75%;
  border-radius: 1rem;
  background: var(--body-color);
  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}
.chat .contact.bar {
  background-color: var(--body-color);
  flex-basis: 3.5rem;
  flex-shrink: 0;
  margin: 1rem;
  box-sizing: border-box;
}
.chat .messages {
  padding: 1rem;
  background: var(--primary-color-light);
  height: 60vh;
  flex-shrink: 2;
  overflow-y: auto;
  box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
}
.chat .messages .time {
  font-size: 0.8rem;
  background: var(--sidebar-color);
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  color: #999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.chat .messages .message {
  display: flex;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0.5rem 0.3rem;
  margin: 1rem;
  background: #FFF;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  min-height: 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: fit-content;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}
.chat .messages .message.origem {
  display: flex;
  padding: 0.5rem 0.3rem 0.5rem 1rem;
  margin: 1rem 1rem 1rem auto;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  background: #333;
  color: white;
}

.chat .messages .message .typing {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0rem;
  box-sizing: border-box;
  background: #ccc;
  border-radius: 50%;
}
.chat .messages .message .typing.typing-1 {
  -webkit-animation: typing 3s infinite;
          animation: typing 3s infinite;
}
.chat .messages .message .typing.typing-2 {
  -webkit-animation: typing 3s 250ms infinite;
          animation: typing 3s 250ms infinite;
}
.chat .messages .message .typing.typing-3 {
  -webkit-animation: typing 3s 500ms infinite;
          animation: typing 3s 500ms infinite;
}

.chat .messages .message.origem p {
  padding: 0 5px 0 0;
  margin: 0;
}

.chat .messages .message p {
  padding: 0 0 0 5px;
  margin: 0;
}

.time_message{
  color: var(--text-color);
  font-size: 0.65rem;
  margin: auto 0 0 0;
}

.chat .messages .message.origem i {
  margin: auto 0 5px 2px;
}

.chat .messages .message .imagem_destinatario {
  max-width: 100%;
  max-height: 13rem;
  padding-left: 5px;
  border-radius: 6px;
}

.chat .messages .message .imagem_remetente {
  max-width: 100%;
  min-width: 50%;
  max-height: 10rem;
  min-height: 5rem;
  padding-right: 5px;
  border-radius: 6px;
}

.azul {
  color: #002afa;
}

.red {
  color: red;
}

.chat .input {
  background-color: var(--body-color);
  flex-basis: 4rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 1.5rem;
  margin: 5px;
  position: relative;
}
.chat .input i {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: var(--text-color);
  cursor: pointer;
  transition: color 200ms;
}
.chat .input i:hover {
  color: #333;
}

#icon4{
  display: none;
}

.chat .input .send_msg {
  display: flex;
  width: 100%;
}

.thumbnail{
  display: flex;
  width: 260px;
  height: auto;
  padding: 5px;
  background-color: var(--primary-color-light);
  flex-direction: column;
  flex-wrap: wrap;
  display: block;
}

.chat .input  .area_texto {
  border: none;
  background-image: none;
  background-color: var(--sidebar-color);
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 1.125rem;
  flex-grow: 2;
  resize: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
  box-sizing: border-box;
  color: var(--text-color);
  width: 98%;
}

.chat .input .area_texto:placeholder {
  color: var(--text-color);
}

.back, .bolha{
  display: none;
}

.textarea-icon {
    background-color: transparent;
    border: none;
}

em-emoji-picker {margin: 10% 0 0 26%;}

@-webkit-keyframes typing {
  0%, 75%, 100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}

@keyframes typing {
  0%, 75%, 100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 769px) {

  .main {
    background-color: transparent;
  }

  .chat {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
  #icon4 {
    display: revert;
    transition: transform 0.5s ease;
    z-index: 1;
    height: auto;
  }

  .chat .input {
    padding: 0;
    z-index: 4;
  }

  .chat .input .area_texto {
    z-index: 1;
    margin-right: 5px;
  }

  .textarea-icon {
  z-index: 1;
  position: static;
  transform: none;
  }

  .hidden {
    display: none;
  }

  .back {
  z-index: 1;
  position: absolute;
  top: -4px;
  left: -5px;
  width: 103%;
  height: 125%;
  border-radius: 0 0 15px 15px;
  background-color: aliceblue;
  display: block;
  }

  .bolha {
    display: block;
    position: absolute;
    bottom: 0px;
    background-color: var(--body-color);
    width: 60px;
    height: 0;
    border-radius: 30px 30px 0 0;
    transition: height 0.5s ease;
    z-index: 0;
  }
  
  .i_chat {
    z-index: 0;
    margin: 0;
    position: absolute;
    left: 17px;
    transition: transform 0.5s ease !important;
  }
  
  .bolha_show {
    height: 190px;
  }
  
  .icon1_show {
    transform: translateY(-40px);
  }
  
  .icon2_show {
    transform: translateY(-85px);
  }
  
  .icon3_show {
    transform: translateY(-130px);
  }

  .rotated {
    transform: rotate(90deg);
  }
  
}

@media screen and (max-width: 992px) {
  .main {
    flex-direction: column;
    padding: 10px;
  }

  .rigth {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }
  
}