{% extends 'ecommerce_main/e-base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block e-title %}Redefinir senha{% endblock %}

{% block e-outers %}{% endblock %}

{% block e-css %}{% static 'ecommerce_authentication/static/css/password_reset_confirm.css' %}{% endblock %}

{% block e-container %}
{% if validlink %}
<section class="forget">
    <h2>Digite sua nova senha</h2>
    <form method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Redefinir Senha</button>
    </form>
    {% if errorlist %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    {% endif %}
</section>
{% else %}
<p>O link de redefinição de senha é inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
{% endif %}

{% endblock %}