{% extends 'ecommerce_main/e-base.html' %}
{% load static %}

{% block e-title %}Esqueci Senha{% endblock %}

{% block e-outers %}{% endblock %}

{% block e-css %}{% static 'ecommerce_authentication/static/css/password_reset_form.css' %}{% endblock %}

{% block e-container %}
<section class="forget">
    <h2>Digite um e-mail cadastrado</h2>
    <form action="{% url 'password_reset' %}" method="post">{% csrf_token %}
        <label for="email">E-mail</label>
        <input class="input" name="email" type="email" placeholder="Digite o E-mail">
        <input class="submit" type="submit" value="Enviar">
    </form>
    {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    {% endfor %}
</section>


{% endblock %}