{% extends 'app_main/base.html' %}
{% load static %}

{% block css %}{% static 'app_payment/static/css/payment-pix.css' %}{% endblock %}

{% block title %}Pagamento - PIX{% endblock %}

{% block outers %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block body %}

<section>
  <h4 class="title-h4">PIX - Teste</h4>  
  <div class="container">
    <div class="left">
      <section class="resume">
        <figure>
          <img src="{{book.imagem.url}}" alt="{{book.title}}" class="book-img">
        </figure>
        <div class="resume-dados" id="book-{{book.id}}">
          <div class="dados">
            <p class="title">Titulo:</p>
            <p class="value">{{book.title}}</p>
          </div>
          <div class="dados">
            <p class="title">Qtd:</p>
            <p class="value qtd">1</p>
          </div>
          <div class="dados">
            <p class="title">Valor:</p>
            <p class="value">{{book.valor}}</p>
          </div>
        </div>
      </section>
      <section class="resume-total">
        <div class="total">Total: {{book.valor}}</div>
      </section>
    </div>

    <div class="rigth">
      <form id="form-checkout" method="post">{% csrf_token %}
          <div class="inputBox">
              <span>Nome</span>
              <input type="text" id="form-checkout__payerFirstName" name="payerFirstName" class="input">
          </div>
          <div class="inputBox">
            <span>Sobrenome</span>
            <input type="text" id="form-checkout__payerLastName" name="payerLastName" class="input">
          </div>
          <div class="inputBox">
            <span>E-mail</span>
            <input type="email" name="email" id="form-checkout__email" class="input">
          </div>
        <div class="flexbox">
          <div class="inputBox">
            <span>Tipo de documento</span>
            <select type="text" name="identificationType" id="form-checkout__identificationType" class="select"></select>
          </div>
        </div>
        <div class="inputBox">
          <span>Número do documento</span>
          <input type="text" name="identificationNumber" id="form-checkout__identificationNumber" class="input">
        </div>
        <input type="hidden" name="transactionAmount" id="transactionAmount" value="{{book.valor}}">
        <input type="hidden" name="description" id="description" value="{{book.title}}">
        <input type="hidden" name="id_product" id="id_product" value="{{book.id}}">
        <input type="submit" value="pagar" id="form-checkout__submit" class="submit-btn">
      </form>
    </div>
  </div>
</section>

{% endblock %}

{% block script %}
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="{% static 'app_payment/static/js/payment-pix.js' %}"></script> -->
{% endblock %}